name: Build and release_name

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Build for Windows
      run: |
        cargo build --release --target x86_64-pc-windows-msvc
        mkdir -p artifacts/windows
        cp target/x86_64-pc-windows-msvc/release/stress-test.exe artifacts/windows/

    - name: Build for Linux
      run: |
        cargo build --release --target x86_64-unknown-linux-gnu
        mkdir -p artifacts/linux
        cp target/x86_64-unknown-linux-gnu/release/stress-test artifacts/linux/

    - name: Build for macOS
      run: |
        cargo build --release --target x86_64-apple-darwin
        mkdir -p artifacts/macos
        cp target/x86_64-apple-darwin/release/stress-test artifacts/macos/

    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: stress-test-binaries
        path: artifacts

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.TAG_NAME }}
        release_name: Release ${{ env.TAG_NAME }}
        draft: false
        prerelease: false
        assets_upload_pattern: artifacts/**/*